<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>appComponent</title>
</head>
<body>
  <h1>{{title}}</h1>
  <hr>
  <!-- ng g c heroes/hero comando para que construya nuestro componente con todos los archicos-->
  <!-- ng serve -o para arracar el servidor y poder visualizar en tiempo real en navegador-->
  <app-counter></app-counter>
  <app-heroes-hero></app-heroes-hero>
  <app-heroes-list></app-heroes-list>

</body>
</html>
